<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Analytics</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .fade-in {
      animation: fadeIn 1s ease-in-out;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .copy-btn {
      background-color: #588157; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
      padding: 5px 10px;
      transition: background-color 0.3s ease;
      width:80px
    }

    .copy-btn:hover {
      background-color: #a3b18a;
    }
    nav{
        background-color: #344e41;
    }
    .tr{
        background-color: #3a5a40;
    }
    .title{
        color: #3a5a40;
    }
    body{
        background-color: #dad7cd;
    }
    .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #588157 29%,
    #31572c 67%,
    #011936 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  text-align: center;
  align-items: center;
  margin-left: 270px;
      /* font-size: 19px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.url-cell {
      font-style: italic;
      font-size: 0.875rem; /* small size */
    }
  </style>
</head>
<body class=" min-h-screen">
  <nav class="p-4 shadow-md">
    <div class="container mx-auto">
      <a href="/" class="text-white font-bold text-lg mr-4">Home</a>
      <a href="/analytics" class="text-white font-bold text-lg">Analytics</a>
    </div>
  </nav>
  <div class="flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-4xl mx-auto fade-in">
      <h1 class=" text-4xl font-bold mb-12 mt-9 text-center title animate-charcter">URL Analytics</h1>
      
      <table class="w-full border-collapse text-left">
        <thead>
          <tr class="tr text-white">
            <th class="border p-4">Sr No.</th>
            <th class="border p-4">Original URL</th>
            <th class="border p-4">Short ID</th>
            <th class="border p-4">Clicks</th>
            <th class="border p-4">Actions</th>
          </tr>
        </thead>
        <tbody>
            <% urls.reverse().map((url, index) => { %>
            <tr class="hover:bg-blue-100 transition duration-300 ease-in-out">
              <td class="border p-4"><%= index + 1 %></td>
              <td class="border p-4 url-cell"><%= url.redirectURL %></td>
              <td class="border p-4 font-bold"><%= url.shortId %></td>
              <td class="border p-4"><%= url.visitHistory.length %></td>
              <td class="border p-4">
                <button class="copy-btn" onclick="copyToClipboard('localhost:8000/url/<%= url.shortId %>')">Copy URL</button>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    function copyToClipboard(text) {
      navigator.clipboard.writeText(text).then(() => {
        alert('URL copied to clipboard');
      }).catch(err => {
        console.error('Failed to copy text: ', err);
      });
    }
  </script>
</body>
</html>
